<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
        
        <meta name="naver-site-verification" content="de5144e0885c3d37e57dde019ad88e16cc7a4c60"/>
        <meta name="description" content="Shine your life, Twinkle your life 당신의 손목을 빛내줄 클라레오.">         
        
        <link rel="canonical" href="http://clareo.co.kr">
        
        <meta property="og:type" content="website">
        <meta property="og:title" content="클라레오">
        <meta property="og:description" content="어두운 밤 당신을 비춰주는 소중한 작은 별빛처럼 고요히 떠오르는 밤하늘의 은은한 달빛처럼 클라레오는 언제 어디서든 당신의 아름다움을 비춰줄게요.">        
        <meta property="og:url" content="http://clareo.co.kr">  
        <!--meta property="og:image" content="http://clareo.co.kr/images/og_image.jpg"-->
        
        <!--PG크로스브라우징필수내용 시작-->
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta http-equiv="Pragma" content="no-cache" />
        <!--PG크로스브라우징필수내용 끝-->

        <title>clareo</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
        <link href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
        
        <link rel="stylesheet" href="../layout/basic/css/common.css">
        <link rel="stylesheet" href="../layout/basic/css/layout.css">
        <link rel="stylesheet" href="../layout/basic/css/ec-base-ui.css">
        <link rel="stylesheet" href="../layout/basic/css/ec-base-tooltip.css">
        <link rel="stylesheet" href="../layout/basic/css/ec-base-help.css">
        <link rel="stylesheet" href="../layout/basic/css/ec-base-product.css">
        <link rel="stylesheet" href="../layout/basic/css/ec-base-product.css">
        <link rel="stylesheet" href="../layout/basic/css/ec-base-paginate.css">
        <link rel="stylesheet" href="../layout/basic/css/ec-base-tab.css">
        <link rel="stylesheet" href="../layout/basic/css/ec-base-button.css">
        <link rel="stylesheet" href="../layout/basic/css/ec-base-box.css">
        <link rel="stylesheet" href="../layout/basic/css/ec-base-desc.css">
        <link rel="stylesheet" href="../css/swiper.min.css">
        
        <script src="../layout/basic/js/basic.js"></script>
        <script src="../js/common.js"></script>
        <script src="../js/module/layout/quick_view.js"></script>
        <style>
            html, body{
                height:100%;
                overflow:hidden;
            } 
        </style>
        
    </head>
    <body id="main">
        <div id="contents">
               <div id="clareo_wrap">
                    <div class="main_visual">
                        <div class="main_logo_box">
                            <p class="top_txt">SHINE YOUR LIFE, TWINKLE YOUR LIFE</p>
                            <div class="main_txt">
                                <h2 class="clareo_logo"><img src="/clareo/img/clareo_logo.png" alt="클라레오 로고"></h2>
                                <h3 class="main_txt_en"><img src="/clareo/img/main_txt_en.png" alt=""></h3>
                                <p class="main_txt_ko">
                                    빛나는 별이여, 내가 너와 같이 영원할 수 있을까 - <br>
                                    그럴 수만 있다면 너를 닮아 평생을 그렇게 변함없게 살리라.
                                </p>
                            </div>
                            <div class="menu_wrap">
                                <ul class="menu_list">
                                    <li><a href="/clareo/about.html">ABOUT</a></li>
                                    <li><a href="/clareo/contact.html">CONTACT</a></li>
                                    <li><a href="/clareo/collection.html">COLLECTIONS</a></li>
                                    <li><a href="/product/list.html?cate_no=43">SHOP</a></li>
                                </ul>
                            </div>
                            <div class="sns_wrap">
                                <ul class="sns_list">
                                    <li><a href="#"  target="_blank"><i class="fa fa-instagram" style="font-size:20px; color:#796558;"></i></a></li>
                                    <li><a href="https://www.facebook.com/%ED%81%B4%EB%9D%BC%EB%A0%88%EC%98%A4-1759348630768136/?modal=admin_todo_tour"  target="_blank"><i class="fa fa-facebook" style="font-size:20px; color:#796558;"></i></a></li>
                                    <li><a href="#"  target="_blank"><i class="fa fa-envelope-o" style="font-size:20px; color:#796558;"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="main_img_box swiper-container blur-bg">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" style="background:url('/clareo/img/main_visual_01.jpg') no-repeat center center; background-size:cover;"></div>
                                <div class="swiper-slide" style="background:url('/clareo/img/main_visual_02.jpg') no-repeat center center; background-size:cover;"></div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div> 
        </div>
        <footer id="m_footer">
            <div class="footer-inner">
                <ul class="information information_w">
                    <li><a href="/clareo/about.html">회사소개</a></li>
                    <li><a href="/member/agreement.html">이용약관</a></li>
                    <li><a href="/member/privacy.html"><strong>개인정보처리방침</strong></a>
                    </li>
                    <li>법인명 : (주)트랜드메카</li>
                    <li>대표자 : 서대규 </li>
                    <li>통신판매업 신고 : 2016-서울강남02846호</li>
                    <li>(06107) 서울특별시 강남구 논현로 626 (논현동) 엠빌딩 7층</li>
                    <li>사업자 등록번호 안내 : 113-86-48435 <a href="#none" onclick="window.open('http://www.ftc.go.kr/bizCommPop.do?wrkr_no=113-86-48435', 'bizCommPop', 'width=750, height=950;');return false;">[사업자정보확인]</a></li>
                </ul>
                <ul class="copyright">
                    <li> 2018 trendmecca</li>
                </ul>
            </div>
        </footer>

    </body>
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        window.jQuery1_12_4 = jQuery.noConflict(true);
    </script>
        <!--@js(/js/swiper.min.js)-->
    <script type="text/javascript">
        var swiper = new Swiper('.main_img_box.swiper-container', {
            loop:true,
            paginationClickable: true,
            centeredSlides: true,
            effect: 'fade',
            /*fadeEffect: {
                                crossFade: true
                            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },*/
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            autoplay: {
                delay: 2500,
            },
            speed:1000,
            autoplayDisableOnInteraction: false
        });		
    </script>
</html>